<!DOCTYPE html>
<html>
  <head>
    <title>GalleryApp</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-success">
      <div class="container-fluid">
        <%=link_to "GalleryApp",albums_path,class: "navbar-brand fw-bold fs-3",style:"color:light;"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav text-center me-auto mb-lg-0 fs-5">
            <li class="nav-item active"><%=link_to "Home",albums_path,class: "nav-link "+$index.to_s+" m-1 "%></li>
            <% if user_signed_in? %>
              <li class="nav-item"><%=link_to "Draft",albums_draft_path,class:"nav-link "+$draft.to_s+" m-1 "%></li>
              <li class="nav-item"><%=link_to "AddNewAlbum",new_album_path,class:"nav-link "+$addnew.to_s+" m-1 "%></li>
            <% end %>
          </ul>
          <ul class="navbar-nav text-center fs-5">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Welcome <strong><%=current_user.name%></strong></a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarScrollingDropdown">
                  <li class="nav-item text-dark"><%=link_to "Edit Profile",edit_user_registration_path,class: "nav-link m-1 text-dark "%></li>
                  <li><hr></li>
                  <li class="nav-item"><%=link_to "SignOut",destroy_user_session_path,class: "nav-link m-1 text-dark",data: {turbo_method: :delete, turbo_confirm: "Are you sure!!!"}%></li>
                </ul>
              </li>            
            <% else %>
              <li class="nav-item"><%=link_to "SignIn",new_user_session_path,class: "nav-link m-1 "%></li>
              <li class="nav-item"><%=link_to "SignUp",new_user_registration_path,class: "nav-link m-1 "%></li>
            <% end %>  
          </ul>
        </div>
      </div>
    </nav>

    <div class="container"><br>
      <% if !notice.nil? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if !alert.nil? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %><br>

      <div class="mb-5">
        <%= yield %>
      </div>
    </div> 
      
    <div class="footer">
      &copy; Copyright-2022 All right reserved<br>
      <%# GalleryApp made by <span class="text-success">Bikash Choudhury</span> %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  </body>
</html>
